*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom properties */
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --ff-logo: "Qwitcher Grypen", cursive;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #383838;
  --clr-light-dark: #818181;
  --clr-accent: #16e8bd;

  --fs-h1: 4rem;
  --fs-h2: 3.25rem;
  --fs-h3: 2.25rem;
  --fs-body: 1.5rem;
}

@media screen and (min-width: 768px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styling */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  margin: 0;
}

section {
  padding: 2rem;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

strong {
  font-weight: var(--fw-bold);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25rem;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
}

/* Grids */
.grid {
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .grid--2x2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 1260px) {
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

/* buttons */
.btn {
  padding: 1rem 13rem;
  border-radius: 20px;
  border: none;
  background: var(--clr-accent);
}

.nav-btn {
  height: fit-content;
}

/* Lists */
.list {
  list-style: none;
  padding: 0;
}

/* form */

.contact {
  margin: 3.5rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.section__header {
  position: relative;
  text-align: center;
  margin: 2rem 0;
}

.section__header::after {
  content: "";
  display: block;
  width: 35%;
  height: 2px;
  opacity: 0.5;
  margin: 0.5em auto 1em;
  background-color: var(--clr-dark);
}

.section__body--name {
  margin-top: 1.5rem;
}

.section__body--label {
  padding-right: 1rem;
  font-size: 2rem;
}

.section__body--input {
  border: none;
  border-bottom: 1px solid #818181;
  width: 22rem;
  padding: 1rem 0;
}

.section__body--email {
  margin-top: 1.5rem;
}

.contact__textarea {
  resize: none;
  margin: 3rem auto;
}

.contact__button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 400px) {
  .contact {
    display: none;
  }
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 0;
}

.logo {
  position: absolute;
  font-family: var(--ff-logo);
  margin: 0;
  top: -3rem;
}

.logo-txt {
  padding: 0;
  margin: 0;
  font-size: 6rem;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.65em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  z-index: 1000;
}

.hamburger {
  position: relative;
  display: block;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

.nav-open .nav {
  transform: translateX(0%);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.635turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

/* Intro section */

.intro {
  position: relative;
}

.section__subtitle--intro {
  text-align: center;
  width: 20rem;
}

/* about me section */
.about-me {
  background-color: var(--clr-light-dark);
  background-image: url(../images/services-bg.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.section__title--about {
  color: var(--clr-accent);
  position: relative;
}

.section__title--about::after {
  content: "";
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  opacity: 0.25;
  background: var(--clr-light);
}

.section__subtitle--about {
  color: var(--clr-light);
}

.section-body--header {
  display: flex;
  justify-content: center;
}

.about-me__body {
  margin: 4rem 1rem;
}

@media screen and (min-width: 768px) {
  .about-me__body {
    max-width: 1000px;
    margin: 4rem auto;
  }

  .section__title--skills,
  .section__title--languages,
  .section__title--frameworks {
    font-size: var(--fs-h2);
  }

  .list__item {
    font-size: var(--fs-h3);
  }
}

/* My Work */
.my-work {
  background: var(--clr-dark);
}

.portfolio-heading {
  color: var(--clr-light);
  text-align: center;
  padding: 2rem 2rem;
}

.portfolio__item {
  height: 45rem;
  background: var(--clr-light);
}

.portfolio__image {
  height: 20rem;
  overflow: hidden;
}

.portfolio__desription {
  height: 15rem;
}

.portfolio__body {
  margin: 0;
  font-size: 1.8rem;
  padding: 2rem 2rem;
}

.portfolio__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

@media screen and (min-width: 768px) {
}

/* footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5rem 0;
  font-size: var(--fs-h3);
}

.social-list {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5rem;
}

.social-list__link {
  padding: 0.5em;
}

.footer a {
  color: var(--clr-accent);
}

.social-list__link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 760px) {
  .footer {
    font-size: 2.5rem;
  }
}
