*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom properties */
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #383838;
  --clr-accent: #16e8bd;

  --fs-h1: 4rem;
  --fs-h2: 3.25rem;
  --fs-h3: 2.25rem;
  --fs-body: 1.5rem;
}

@media screen and (min-width: 768px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styling */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

/* Grids */
.grid {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .grid--2x2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

/* buttons */
.btn {
  padding: 1rem 13rem;
  border-radius: 20px;
  border: none;
  background: var(--clr-accent);
}

/* Lists */
.list {
  list-style: none;
  padding: 0;
}

/* form */

.contact {
}

.contact__textarea {
  resize: none;
}

/* My work */
.my-work {
  background: var(--clr-dark);
  height: 210rem;
}

.portfolio {
  background: var(--clr-dark);
  margin: 2rem 1rem;
  gap: 2rem;
}

.section__title--work {
  text-align: center;
  margin: 2rem auto;
  color: var(--clr-light);
}

.portfolio__item .portfolio--image {
  max-height: 25rem;
  object-fit: cover;
  overflow: hidden;
}

.portfolio__item .portfolio--description {
  padding: 1rem;
  background: var(--clr-light);
}

.portfolio__item--tech {
  text-align: center;
}

.btn--portfolio {
  margin-left: 1rem;
}

.btn--portfolio > a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

@media screen and (min-width: 768px) {
  .my-work {
    height: 110rem;
    width: 100%;
  }

  .portfolio__item .portfolio--image {
    object-fit: cover;
    overflow: hidden;
  }

  .portfolio__item .portfolio--description {
    height: 22rem;
  }

  .btn--portfolio {
    margin-left: 4rem;
    padding: 1rem 15rem;
  }
}

@media screen and (min-width: 1024px) {
  .my-work {
    height: 55rem;
    width: 100%;
  }

  .portfolio__item .portfolio--image {
    max-height: 19rem;
    object-fit: cover;
    overflow: hidden;
  }

  .portfolio__item .portfolio--description {
  }
  .btn--portfolio {
    margin-left: 4rem;
    padding: 1rem 15rem;
  }
}
