* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: whitesmoke;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1%;
  height: 30%;
  background-color: black;
}

header img {
  object-fit: cover;
}

header h1 {
  color: aliceblue;
  font-family: "Source Serif Pro", serif;
}

.main {
  display: grid;
  border: 1px solid black;
  grid-template-areas:
    "about"
    "skills"
    "languages"
    "project1 "
    "project2"
    "project3"
    "project4"
    "contact"
    "footer";
}

.about {
  background-color: rgb(22, 22, 22);
  color: aliceblue;
  grid-area: about;
}

.about p {
  padding-bottom: 25px;
  margin: 30px;
  grid-area: about;
}

.about h1 {
  color: aliceblue;
  text-align: center;
  padding: 30px;
  font-size: 30px;
  grid-area: about;
  font-family: "Source Serif Pro", serif;
}

.skills {
  display: flex;
  align-items: center;
  display: grid;
  padding-bottom: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "h2 h2"
    "img img"
    "img img";
}

.skills h2 {
  text-align: center;
  grid-area: h2;
  font-size: 40px;
  font-family: "Source Serif Pro", serif;
  color: rgb(33, 33, 34);
}

.skills p {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-family: "Source Serif Pro", serif;
  color: rgb(33, 33, 34);
}

.skills img {
  align-self: center;
  grid-area: img;
  width: 200px;
}

.skills div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.languages {
  display: flex;
  align-items: center;
  display: grid;
  padding-bottom: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "h2 h2"
    "img img"
    "img img";
}

.languages h2 {
  text-align: center;
  grid-area: h2;
  font-size: 40px;
  font-family: "Source Serif Pro", serif;
  color: rgb(33, 33, 34);
}

.languages p {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-family: "Source Serif Pro", serif;
  color: rgb(33, 33, 34);
}

.languages img {
  align-self: center;
  grid-area: img;
  width: 200px;
}

.languages div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*----------------Contact-----------------*/
.contact {
  display: flex;
  flex-direction: column;
  grid-area: contact;
  font-family: "Source Serif Pro", serif;
  height: 600px;
  background-color: rgb(27, 27, 27);
  color: aliceblue;
  padding-top: 30px;
}

.contact h1 {
  text-align: center;
  color: aliceblue;
  font-size: 30px;
  padding-top: 20px;
  margin: 20px;
}

.contact button {
  margin-left: 20px;
  width: 100px;
}

/* -------------------------main------------------------------*/
.info {
  background-color: aliceblue;
}

.project1 {
  grid-area: project1;
  height: fit-content;
  background-color: #161616;
}

.coming-soon {
  object-fit: cover;
  height: 240px;
}

.coming-soon img {
  height: 100%;
  width: 100%;
  display: block;
}

.project2 {
  grid-area: project2;
  height: fit-content;
  background-color: rgb(22, 22, 22);
}

.project3 {
  grid-area: project3;
  height: fit-content;
  background-color: rgb(22, 22, 22);
}

.project4 {
  grid-area: project4;
  height: fit-content;
  background-color: rgb(22, 22, 22);
}

.info {
  height: fit-content;
}
/* -------------------------main------------------------------*/

@media (min-width: 650px) {
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1%;
    height: 50%;
    background-color: black;
  }

  header img {
    object-fit: cover;
  }

  header h1 {
    color: aliceblue;
    font-family: "Source Serif Pro", serif;
  }
  .container {
    display: grid;
    grid-template-areas:
      "project1 project2"
      "project3 project4";
    margin: 10px;
  }

  .project1 {
    margin: 10px;
  }
  .project2 {
    margin: 10px;
  }
  .project3 {
    margin: 10px;
  }
  .project4 {
    margin: 10px;
  }
}

@media (min-width: 1000px) {
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1%;
    height: 50%;
    background-color: black;
  }

  header img {
    object-fit: cover;
  }

  header h1 {
    color: aliceblue;
    font-family: "Source Serif Pro", serif;
  }
  .container {
    display: grid;
    grid-template-areas:
      "project1 project2"
      "project3 project4";
    margin: 10px;
    padding: 70px;
  }
  .project1 {
    margin: 10px;
  }
  .project2 {
    margin: 10px;
  }
  .project3 {
    margin: 10px;
  }
  .project4 {
    margin: 10px;
  }
}
