<!----About me---->
<section class="about-me" id="about">
    <h2 class="section__title section__title--about">About me</h2>
    <p class="section__subtitle section__subtitle--about">Front-end developer who is passionate about writing code.
    </p>
    <div class="about-me__body grid grid--1x3">
        <div class="section-body section-body__skills">
            <header class="section-body--header">
                <h3 class="section__title section__title--skills">Skills</h3>
            </header>
            <ul class="list list--skills">
                <li class="list__item">WordPress</li>
                <li class="list__item">Photoshop</li>
                <li class="list__item">Rest Api</li>
                <li class="list__item">Axios</li>
            </ul>
        </div>

        <div class="section-body section-body__languages">
            <header class="section-body--header">
                <h3 class="section__title section__title--languages">Languages</h3>
            </header>
            <ul class="list list--languages">
                <li class="list__item">Javascript</li>
                <li class="list__item">Python</li>
                <li class="list__item">HTML</li>
                <li class="list__item">CSS</li>
            </ul>
        </div>

        <div class="section-body section-body__frameworks">
            <header class="section-body--header">
                <h3 class="section__title section__title--frameworks">Frameworks</h3>
            </header>
            <ul class="list list--frameworks">
                <li class="list__item">React</li>
                <li class="list__item">Vue</li>
                <li class="list__item">Django</li>
            </ul>
        </div>
    </div>
</section>