<!----Contact---->
<section class="contact" id="contact">
    <h2 class="section__title section__header">Contact Me!</h2>
    <form action="">
        <div class="section__body--name">
            <label class="section__body--label for=" name">Name:</label>
            <input class="section__body--input" id="name" type="text">
        </div>
        <div class="section__body--email">
            <label class="section__body--label" for="email">Email:</label>
            <input class="section__body--input" id="email" type="email">
        </div>
        <textarea class="contact__textarea" placeholder="Enter msg here..." name="contact__textarea" id="" cols="34"
            rows="5"></textarea>
        <div>
            <button class="btn contact__button" type="submit">Send</button>
        </div>
    </form>
</section>