<!----Contact---->
<section class="contact" id="contact">
    <h2 class="section__title section__title--contact">Contact Me!</h2>
    <form action="">
        <div>
            <label for="name">Name</label>
            <input id="name" type="text">
        </div>
        <div>
            <label for="email">Email</label>
            <input id="email" type="email">
        </div>
        <textarea name="contact__textarea" id="" cols="30" rows="10"></textarea>
        <div>
            <button type="submit">Send</button>
        </div>
    </form>
</section>