<!---- My Work---->
<section class="my-work" id="work">
    <h2 class="portfolio-heading">My Work</h2>
    <div class="portfolio grid grid--2x2 grid--1x4">
        <div class="portfolio__item">
            <div class="portfolio__item portfolio__image">
                <img src="images/stock.png" alt="">
            </div>

            <div class="portfolio__desription">
                <p class="portfolio__body">A full-stack finance website with custom stock tracker dashboard.
                    Tech stack django,vue,rest api, javascript,html and css</p>
            </div>
            <div class="portfolio__btn-container">
                <button class="btn"><a href="https://github.com/Esmith24/pdx_capstone">To Code</a></button>
            </div>
        </div>

        <div class="portfolio__item">
            <div class="portfolio__item portfolio__image">
                <img src="images/cloud.png" alt="">
            </div>

            <div class="portfolio__desription">
                <p class="portfolio__body">A fictional landing page for a cloud hosting company. In this project I
                    implemented
                    responsive
                    HTML/CSS that looks great on mobile,tablet and desktop.</p>
            </div>
            <div class="portfolio__btn-container">
                <button class="btn"><a href="https://github.com/Esmith24/Cloud_Hosting">To Code</a></button>
            </div>
        </div>

        <div class="portfolio__item">
            <div class="portfolio__item portfolio__image">
                <img src="images/under_construction.jpg" alt="">
            </div>

            <div class="portfolio__desription">
                <p class="portfolio__body">Project 3 Under Construction</p>
            </div>
            <div class="portfolio__btn-container">
                <button class="btn">To Code</button>
            </div>
        </div>

        <div class="portfolio__item">
            <div class="portfolio__item portfolio__image">
                <img src="images/under_construction.jpg" alt="">
            </div>

            <div class="portfolio__desription">
                <p class="portfolio__body">Project 4 Under construction</p>
            </div>
            <div class="portfolio__btn-container">
                <button class="btn">To Code</button>
            </div>
        </div>

    </div>
</section>